
<gfn-user
  gfnDoHover="green"
  *ngFor="let user of list; index as i; even as e"
  [user]="user"
  [selectedUsr]="$user.selectedUsr"
  (selectUsr)="setSelected( $event )"
  (delByUsr)="$user.delByUsr($event)"
  (updateUsr)="$user.update($event)"
  class="underline"
  [ngClass]="getClass( e )"
></gfn-user>
<!-- Use Service instate of internal Method -->
<button (click)="$user.addRandomUser()" gfnDoHover style="color: yellow">add</button>

<!-- diverend ways for class binding
  [ngClass]="{even: e, odd: !e}"
  [class.even]="e"
  [class.odd]="!e"
-->
