:host {
  display: block;
  .align-left {
    text-align: left;
  }
  .align-right {
    text-align: right;
  }
  .align-center {
    text-align: center;
  }
  &.selected {
    color: red;
  }
  &.even {
    background-color: #dbdbdb;
  }
  &.odd {
    background-color: #b8b8b8;
  }
}
