<!--The content below is only a placeholder and can be replaced.-->
<h1>
  Welcome to {{title}}!
</h1>

<gfn-user-list>
  <gfn-user>
    Saban Ünlü 1
    <gfn-user-adress>Overbergstr. 35 - 46282 Dorsten - Germany</gfn-user-adress>
  </gfn-user>
  <gfn-user>Saban Ünlü 2</gfn-user>
  <gfn-user>Saban Ünlü 3
    <gfn-user-adress>Overbergstr. 35 - 46282 Dorsten - Germany</gfn-user-adress>
  </gfn-user>
  <gfn-user>Saban Ünlü 4</gfn-user>
</gfn-user-list>
<hr>


<p>#{{ $user.crrUserlist | async | json }}</p>


<p>#{{ hello | async | json }}</p>
<hr>

<a href="http://localhost:3000/auth?response_type=access%20id&client_id=netTrek&client_secret=netTrek&scope=profile%20users&redirect_uri=http://localhost:4200/&state=4711">login</a>
<router-outlet></router-outlet>
