<h3>save a new  user</h3>
<!-- do not forget ngForm and ngModel to add Form - Controlls -->
<form (submit)="create()" #f="ngForm">
  <table>
    <tr>
      <td><label for="name">name</label></td>
      <td><input type="text" name="name" id="name"
      [(ngModel)]="user.name" #u="ngModel"></td>
    </tr>
    <tr>
      <td><label for="zip">zip</label></td>
      <td><input type="number" name="zip" id="zip"
      [(ngModel)]="user.adress.zip"></td>
    </tr>
    <tr>
      <td><label for="country">country</label></td>
      <td><input type="text" name="country" id="country"
      [(ngModel)]="user.adress.country"></td>
    </tr>
    <tr>
      <td><input type="reset" value="reset"></td>
      <td><input type="submit" value="submit"></td>
    </tr>
  </table>
</form>

