<h3 *ngIf="mode==='add'; else showEditHeader">save a new  user</h3>
<ng-template #showEditHeader>
  <h3>edit the user</h3>
</ng-template>
<!-- do not forget ngForm and ngModel to add Form - Controlls -->
<form (submit)="create()" >
  <table>
    <tr>
      <td><label for="name">name</label></td>
      <td><input type="text" name="name" id="name"
      [(ngModel)]="user.name"></td>
    </tr>
    <tr>
      <td><label for="zip">zip</label></td>
      <td><input type="number" name="zip" id="zip"
      [(ngModel)]="user.adress.zip"></td>
    </tr>
    <tr>
      <td><label for="country">country</label></td>
      <td><input type="text" name="country" id="country"
      [(ngModel)]="user.adress.country"></td>
    </tr>
    <tr>
      <td>
        <input type="reset" value="reset"*ngIf="mode==='add'; else showDeleteBtn">
        <ng-template #showDeleteBtn>
          <button (click)="del()">delete</button>
        </ng-template>
      </td>
      <td><input type="submit" [attr.value]="mode"></td>
    </tr>
  </table>
</form>

